{% extends "dashboard/base.html" %}

{% block title %}
    Subscription List
{% endblock %}

{% block student_content %}
    <div class="bg-white shadow-md rounded-lg mb-4">
        <div class="px-6 py-4">
            <h2 class="text-xl font-semibold">Subscription List</h2>
            <ul class="mt-2">
                {% for sub in subscriptions %}
                    <li class="flex items-center justify-between py-3 border-b border-gray-200 last:border-b-0 hover:bg-gray-50">
                        <div>
                            <div class="text-lg font-medium">{{ sub.platform_name }} - {{ sub.service_name }}</div>
                            <div class="text-sm text-gray-500">Renews {{ sub.end_date|date:"M d, Y" }}</div>
                        </div>
                        <div class="flex items-center space-x-4">
                            <div class="text-md font-medium">${{ sub.price|floatformat:2 }}/mo</div>
                            <button class="bg-red-500 hover:bg-red-700 text-white font-medium py-1 px-3 rounded-md transition duration-200">Cancel</button>
                        </div>
                    </li>
                {% empty %}
                    <li class="py-2">No subscriptions yet!</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}